#add-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	min-height: 550px;
}
#back-to-menu{
	position: fixed;
	top: 20px;
	left: 3.5%;
	height: 55px;
	width: 55px;
	border-radius: 50%;
	border:2px solid white;
	background-color: #00C0FD;
	font-size: 35px;
	font-weight: bolder;
	color: white;
	transition: all 0.4s ease-out;
	cursor: pointer;
	z-index: 10;
}
#back-to-menu:hover{
	color:#00C0FD;
	background-color: white;
	border:none;
	}
#add-container{
	width: 92%;
	max-width: 1200px;
	height: 94%;
	max-height: 750px;
	background-color: white;
	border-radius: 0px 15px;
	box-shadow: 12px 11px 5px 1px rgba(0,0,0,0.2);
	display:flex;
	justify-content: space-between;
	position: relative;
	z-index: 1;
}
#add-container>div{
	height: 90%;
	width:50%;
	border-bottom:1px solid #0076ff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#non-translate-block{
	border-right: 3px solid #0076ff;
}
#translate-block{
	border-left: 3px solid #0076ff;
}
#add-button{
	display: block;
	width: 100px;
	height: 48px;
	background-color: #0076ff;
	position: absolute;
	bottom: 8px;
	right: 20px;
	border: none;
	border-radius: 0px 5px;
	color: white;
	font-size: 16px;
	padding-left: 25px;
	cursor: pointer;
	transition: all 0.3s linear;
}
#add-button>span{
	font-size: 40px;
	position: absolute;
	left: 7px;
	bottom:5px;
}
#add-button:hover{
	background-color: white;
	border:2px solid #0076ff;
	color: #0076ff;
	font-weight: bold;
}
.textarea-add{
	border:1px solid #00000033;
	font-style: italic;
	height: 80%;
	width: 100%;
	color:#000000bb;
}
.textarea-add:focus{
	font-style: normal;
	color:#000000bb;
}
@media only screen and (max-height:800px) and (max-width:500px){
    #add-container{
        height: 100vh;
        width: 100vw;
        box-shadow: none;
        min-height: 500px;
        border:none;
        max-height: unset;
    }
}